* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	background-image: url(back2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

html,
body{
	height: 100%;
}

.container {
	height: 100%;
	overflow: hidden;
	padding: 30px;


}
.time {
	flex-basis: 50%;
	font-size: 1050%;
	font-weight: 500;
	text-shadow: 3px 5px 5px #000;
}

.wrapper {
	color:white;
	height: 100%;
	text-align: center;
	/*transform: translate(0%,18%);*/
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.username {
	border: none;
	border-bottom: 4px solid white;
	width:50%;
	padding: 20px 0;
	margin-bottom: 10px;
	background: none;
	outline: none;

}
.username:focus {
	outline:none;
}

input {
	color: transparent;
	text-shadow: 0 0 0 #fff;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}

.date {
	position: absolute;
	top:0;
	right: 0;
	padding: 10px;
	font-weight: 500;
    font-size: 12px;
    text-shadow: 1px 1px 1px black;
}

.location {
	position: absolute;
	top:0;
	left: 0;
	padding: 10px;
	font-weight: 500;
    font-size: 12px;
    text-shadow: 1px 1px 1px black;

}

.greeting{

	font-size:40px;
	text-shadow: 1px 1px 1px black;
}